# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Koulin-Project\game-tank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
